html {
  scroll-behavior: smooth;
  touch-action: manipulation;
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height}
    $base-font-family;
  color: $text-color;
  background: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

a {
  color: $text-color;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

p {
  line-height: $base-line-height;
  margin-top: 0;
  margin-bottom: 0.2rem;
}

ol,
ul {
  padding-left: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.2rem;

  ol,
  ul {
    margin-bottom: 0;
  }
}

b,
strong {
  font-weight: $base-font-weight * 1.15;
  color: $theme-color;
}

small {
  font-weight: $base-font-weight;
}

.wrapper {
  display: flex;
  flex-direction: column;

  background: $wrapper-color;
  max-width: $content-width;
  margin: $spacing-unit auto;
  padding: $spacing-unit * 2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  section {
    &:not(:nth-last-child(1)) {
      margin-bottom: $spacing-unit / 4;
    }
    .section-icon {
      color: $theme-color;
    }
    .section-title {
      display: flex;
      align-items: baseline;

      font-size: $large-font-size;
      color: $text-color;
      margin-bottom: $spacing-unit / 4;
      padding: $spacing-unit / 10 0;
      border-bottom-color: rgba($theme-color, 0.25);
      border-bottom-width: 1px;

      i::after {
        content: "\00a0";
        font-family: initial;
      }

      h2 {
        font-size: inherit;
        margin-bottom: 0;
      }
    }

    .section-content {
      .description {
        margin-bottom: $spacing-unit / 4;
      }

      .items {
        .item {
          margin-bottom: $spacing-unit / 4;
          
          .row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .subrow {
              &:not(:last-child)::after {
                content: $body-delimiter;
                color: $separator-color;
                margin: 0 0.5em;
              }
            }
          }

          .description {
            margin-bottom: 0;
          }

          &:not(:nth-last-child(1)) {
            border-bottom: 1px dashed rgba($theme-color, 0.25);
          }
        }


      }

      .groups {
        margin-bottom: $spacing-unit / 4;
      }

      .location,
      .degree {
        display: inline-flex;
        align-items: baseline;

        i::after {
          content: "\00a0";
          font-family: initial;
        }
      }

      .project-name {
        display: inline-flex;
        align-items: baseline;
        // margin-left: 0.8rem;
        small::before {
          content: "\00a0";
          font-family: initial;
        }
      }
      .role,
      .major,
      .project-name,
      .certificate-name,
      .publication-title,
      .award-name,
      .reference-name {
        font-weight: $base-font-weight * 1.25;
      }

      .company,
      .degree {
        font-weight: $base-font-weight * 1.1;
      }

      .degree,
      .company,
      .issuer,
      .authors,
      .awarder,
      .reference-title {
        font-style: italic;
      }

      .date,
      .location,
      .institution {
        color: $text-color;
      }
    }
  }

  .basic {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    .construction,
    .avatar {
      max-height: 100px;
      border: 0px solid $wrapper-color;
      // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }
    .title-desc-container {
      display: flex;
      flex-direction: row;

      .item {
        &:not(:last-child)::after {
          content: $body-delimiter;
          color: $separator-color;
          margin: 0 0.5em;
        }
      }
    }

    .header {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;

      .name {
        font-size: $huge-font-size;
        margin-top: 0;
        margin-bottom: $spacing-unit / 4;
        font-weight: $base-font-weight * 1.25;
        border-bottom: 4px solid $theme-color;
      }

      .title {
        // color: $theme-color;
        font-size: $middle-font-size;
        font-weight: $base-font-weight * 1.25;
        margin-top: 0;
        margin-bottom: $spacing-unit / 6;
      }

      .contact {
        display: flex;
        flex-wrap: wrap;

        .contact-item {
          display: inline-flex;
          align-items: baseline;

          &:not(:last-child)::after {
            content: $contact-delimiter;
            color: $separator-color;
            margin: 0 0.5em;
          }

          i::after {
            content: "\00a0";
            font-family: initial;
          }
        }
      }

      .description {
        font-size: $middle-font-size;
        font-weight: $base-font-weight * 1.25;
        margin-bottom: $spacing-unit / 6;
      }
    }
  }

  .footer {
    margin: 0 !important;
    .section-content {
      .llm {
        color: $wrapper-color;
        opacity: 0;
        font-size: 1%;
      }
    }
  }

  .certificate,
  .award,
  .reference {
    .section-content {
      .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .item {
          flex-basis: 45%;
        }
      }
    }
  }

  .skill {
    .section-content {
      .items {
        display: flex;
        flex-wrap: wrap;

        .item {
          display: inline-flex;
          align-items: center;
          justify-content: end;
          flex-basis: 30%;

          .skill-name::after {
            content: "\00a0\00a0";
            font-family: initial;
          }

          .skill-level {
            display: inline-flex;
            color: $theme-color;

            i:not(:last-child)::after {
              content: "\00a0";
              font-family: initial;
            }
          }
        }
      }

      .groups {
        display: flex;
        flex-direction: column;

        .group {
          display: flex;
          justify-content: space-between;

          &:not(:last-child) {
            border-bottom: 1px dashed rgba($separator-color, 0.25);
          }

          .group-name {
            font-weight: $base-font-weight * 1.25;
            flex: 0 0 auto;
          }

          .group-item {
            display: flex;
            flex-wrap: wrap;
            justify-content: end;
            flex: 1;

            span:not(:last-child)::after {
              content: $body-delimiter;
              color: $separator-color;
              margin: 0 0.5em;
            }
          }
        }
      }
    }
  }

  .language,
  .interest {
    .section-content {
      .items {
        display: flex;
        flex-wrap: wrap;

        .item {
          display: flex;
          align-items: baseline;
          border-bottom: none !important;

          &:not(:last-child)::after {
            content: $body-delimiter;
            color: $separator-color;
            margin: 0 0.5em;
          }
        
          small::before {
            content: "\00a0";
            font-family: initial;
          }
        }
      }
    }
  }
}

.credit {
  margin-bottom: $spacing-unit;
  color: $theme-color;
  width: 100%;
  display: inline-flex;
  align-items: baseline;
  justify-content: center;
  font-size: $small-font-size;

  i {
    color: $heart-color;
    padding: 0 $spacing-unit / 4;
  }
}

.close {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .description {
    margin: $spacing-unit 0;
  }
}
