:root {
  color-scheme: light dark;
}

[data-theme="light"] {
  --color-bg: #{$background-color};
  --color-body: #{$resume-body-color};
  --color-text: #{$text-color};
  --color-theme: #{$theme-color};
  --color-separator: #{$separator-color};
  --color-shadow: #{$shadow};
  --color-section-bg: #{$section-background-color};
  --color-theme-border: #{$border-theme};
  --color-separator-border: #{$border-separator};
  --color-shadow: #{$shadow};
}

[data-theme="dark"] {
  --color-bg: #{$background-color-dark};
  --color-body: #{$resume-body-color-dark};
  --color-text: #{$text-color-dark};
  --color-theme: #{$theme-color-dark};
  --color-separator: #{$separator-color-dark};
  --color-shadow: #{$shadow-dark};
  --color-section-bg: #{$section-background-color-dark};
  --color-theme-border: #{$theme-color-dark};
  --color-separator-border: #{$border-separator-dark};
  --color-shadow: #{$shadow-dark};
}

html {
  scroll-behavior: smooth;
  touch-action: manipulation;
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height}
    $base-font-family;
  color: var(--color-text);
  background: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

a {
  color: var(--color-text);
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

p {
  line-height: $base-line-height;
  margin-top: 0;
  margin-bottom: 0.2rem;
}

ol,
ul {
  padding-left: 0rem;
  margin-top: 0;
  margin-bottom: 0.2rem;

  ol,
  ul {
    margin-bottom: 0;
  }
}

b,
strong {
  font-weight: $base-font-weight * 1.5;
  color: var(--color-theme);
}

small {
  font-weight: $base-font-weight * 1;
}

.role,
.institution,
.project-name,
.certificate-name,
.publication-title,
.award-name,
.reference-name,
.company,
.issuer,
.awarder,
.reference-title,
.basic .header :is(.name, .title, .description, ),
.skill .section-content .groups .group-name {
  font-weight: $base-font-weight * 1.5;
}

:is(.section-title, .location, .degree, .project-name, .contact-item) i::after,
.skill-level i:not(:last-child)::after,
.skill-name::after {
  content: "\00a0";
  white-space: nowrap;
}

.language .item small::before {
  content: "\00a0";
  white-space: nowrap;
}

:is(
    .subrow,
    .title-desc-container .item,
    .contact-item,
    .group-item span,
    .language .item,
    .interest .item
  ):not(:last-child)::after {
  content: $body-delimiter;
  color: var(--color-separator);
  margin: 0 0.4em;
}

.contact-item:not(:last-child)::after {
  content: $contact-delimiter;
}

.location,
.contact-item,
.credit {
  display: inline-flex;
  align-items: baseline;
}

.contact,
:is(.certificate, .award, .reference, .skill, .language, .interest)
  .section-content
  .items {
  display: flex;
  flex-wrap: wrap;
}

.section-content :is(.description, .items .item, .groups) {
  margin-bottom: $spacing-unit / 4;
}

.section-content :is(.description, .items .item, .groups):last-child {
  margin-bottom: 0;
}

.section-content :is(.items .item .description, .authors) {
  padding-left: 1rem;
}

.date,
.location,
.institution {
  color: var(--color-text);
}

.skill-level {
  color: var(--color-theme);
}

// Consolidated border patterns
// :is(
//   .item,
//   .group
// ):not(:last-child) {
//   border-bottom: 1px dashed var(--color-theme-border);
// }

.basic .header .name {
  border-bottom: 4px solid var(--color-theme);
}

.language .item,
.interest .item {
  border-bottom: none;
}

.skill .items {
  .item:nth-last-child(-n + 3):nth-last-child(3n),
  .item:nth-last-child(-n + 3):nth-last-child(3n-1),
  .item:nth-last-child(-n + 3):nth-last-child(3n-2) {
    border-bottom: none;
  }
  .item:last-child:nth-child(3n + 1) {
    border-bottom: none;
  }
  .item:nth-last-child(-n + 2):nth-last-child(3n + 1),
  .item:nth-last-child(-n + 2):nth-last-child(3n + 2) {
    border-bottom: none;
  }
}

.group:not(:last-child) {
  border-bottom: 1px dashed var(--color-separator-border);
}

.wrapper {
  display: flex;
  flex-direction: column;

  background: var(--color-body);
  max-width: $content-width;
  margin: $spacing-unit auto;
  padding: $spacing-unit * 2;
  box-shadow:
    var(--color-shadow) 0px 10px 15px -3px,
    var(--color-shadow) 0px 4px 6px -2px;

  section {
    &:not(:nth-last-child(1)) {
      margin-bottom: $spacing-unit / 4;
    }
    .section-icon {
      color: var(--color-theme);
    }
    .section-title {
      display: flex;
      align-items: baseline;

      font-size: $large-font-size;
      color: var(--color-text);
      background-color: var(--color-section-bg);
      margin-top: $spacing-unit / 6;
      margin-bottom: $spacing-unit / 6;
      padding: $spacing-unit / 10 0;
      border-bottom-color: var(--color-theme-border);
      border-bottom-width: 1px;

      h2 {
        font-size: inherit;
        margin-bottom: 0;
      }
    }

    .section-content {
      .items {
        .item {
          .row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
        }
        .item {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .authors {
        font-style: italic;
      }
    }
  }

  .basic {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    .construction,
    .avatar {
      max-height: 100px;
      border: 0px solid var(--color-body);
    }

    .title-desc-container {
      display: flex;
      flex-direction: row;
    }

    .header {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;

      .name {
        font-size: $huge-font-size;
        margin-top: 0;
        margin-bottom: $spacing-unit / 4;
      }

      .title {
        font-size: $middle-font-size;
        margin-top: 0;
        margin-bottom: $spacing-unit / 6;
      }

      .description {
        font-size: $middle-font-size;
        margin-bottom: $spacing-unit / 6;
      }
    }
  }

  .footer {
    margin: 0;
  }

  .certificate,
  .award,
  .reference {
    .section-content {
      .items {
        justify-content: space-between;
        .item {
          flex-basis: 45%;
        }
      }
    }
  }

  .skill {
    .section-content {
      .items {
        justify-content: center;
        .item {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          flex-basis: 30%;

          .skill-level {
            display: inline-flex;
          }
        }
      }
    }
  }

  .language,
  .interest {
    .section-content {
      .items {
        justify-content: center;

        .item {
          display: flex;
          align-items: baseline;
        }
      }
    }
  }
}

.credit {
  margin-bottom: $spacing-unit;
  width: 100%;
  justify-content: center;
  font-size: $small-font-size;
  a {
    color: var(--color-theme);
  }
  i {
    color: $heart-color;
    padding: 0 $spacing-unit / 4;
  }
}

.close {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .description {
    margin: $spacing-unit 0;
  }
}
