@media print {
  @page {
    size: letter;
  }

  body {
    font-size: 11pt !important;
    background: var(--color-body) !important;
    line-height: 130%;
  }

  /* Hide theme toggler in print media */
  .switch {
    display: none;
  }

  a::after {
    content: none !important;
  }

  h1, h2, h3, h4, h5, h6, img {
    break-after: avoid !important;
    break-inside: avoid !important;
  }

  ul, ol {
    break-before: avoid !important;
  }

  a, blockquote, pre {
    break-inside: avoid !important;
  }

  .section-title {
    break-after: avoid !important;
  }

  .item {
    break-inside: avoid !important;
  }

  .wrapper {
    max-width: 100% !important;
    margin: 0.5rem  !important;
    padding: 0 !important;
    box-shadow: none !important;
  }
  .credit,
  .footer {
    display: none !important;
  }
}
