@media print {
  @page {
    size: A4;
  }

  body {
    font-size: 9.5pt !important;
    background: var(--color-body) !important;
  }

  /* Hide theme toggler in print media */
  .dark-mode-toggle-wrapper {
    display: none;
  }

  a::after {
    content: none !important;
  }

  h1, h2, h3, h4, h5, h6, img {
    break-after: avoid !important;
    break-inside: avoid !important;
  }

  ul, ol {
    break-before: avoid !important;
  }

  a, blockquote, pre {
    break-inside: avoid !important;
  }

  .wrapper {
    max-width: 100% !important;
    margin: 0.5rem  !important;
    padding: 0 !important;
    box-shadow: none !important;
  }
  .credit,
  .footer {
    display: none !important;
  }
}
