@charset "utf-8";

// Define defaults for each variable.
$base-font-family: -apple-system, BlinkMacSystemFont, "Noto Sans", "Montserrat", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$base-font-size:   1rem !default;
$base-font-weight: 300 !default;

$small-font-size:  $base-font-size * 0.875 !default;
$middle-font-size: $base-font-size * 1.000 !default;
$large-font-size:  $base-font-size * 1.200 !default;
$huge-font-size:   $base-font-size * 2.250 !default;

$base-line-height: $base-font-size + 0.35 !default;
$spacing-unit:     $base-font-size + 0.20 !default;

// Width of the content area
$content-width:    62rem !default;

// Default color settings - all colors calculated in colors.html partial
// ${var}-dark indicates the theme it is for, not the actual color content
{{- $colors := partial "colors.html" $ }}
$theme-color:                   {{ $colors.themeColor }};
$theme-color-dark:              {{ $colors.themeColorDark }};

// Cross mapped so that resume is always brighter than the background
$resume-body-color:             {{ $colors.resumeBodyColor }};
$background-color-dark:         {{ $colors.backgroundColorDark }};
$background-color:              {{ $colors.backgroundColor }};
$resume-body-color-dark:        {{ $colors.resumeBodyColorDark }};

// Text colors are based from body colors
$text-color:                    {{ $colors.textColor }};
$text-color-dark:               {{ $colors.textColorDark }};
$separator-color:               {{ $colors.separatorColor }};
$separator-color-dark:          {{ $colors.separatorColorDark }};

$section-background-color:      {{ $colors.sectionBackgroundColor }};
$section-background-color-dark: {{ $colors.sectionBackgroundColorDark }};

$heart-color:                   {{ $colors.heartColor }};

// Toggle-switch
$toggle-moon-color:             {{ $colors.toggleMoonColor }};
$toggle-sun-color:              {{ $colors.toggleSunColor }};
$toggle-height:                 2rem;
$toggle-switch-size:             80%;
$toggle-radius:                 0rem;

// Shadow and transparency colors
$shadow:                        {{ $colors.shadow }};
$shadow-dark:                   {{ $colors.shadowDark }};
$border-theme:                  {{ $colors.borderTheme }};
$border-separator:              {{ $colors.borderSeparator }};
$border-separator-dark:         {{ $colors.borderSeparatorDark }};

// Transition time
$transition-speed: 0.10s; // The time a component (our toggler) takes to complete its action. 

// Default delimiter
$contact-delimiter: "{{ $.Site.Params.contactDelimiter | default "·" }}";
$body-delimiter:    "{{ $.Site.Params.bodyDelimiter | default "·" }}";
@import
  "sanitize",
  "base",
  "toggle",
  "responsive",
  "print",
  "fonts"
;

section {
  .section-title {
    text-transform:      {{ $.Site.Params.sectionTitle | default "uppercase" }};
    justify-content:     {{ $.Site.Params.sectionAlign | default "start" }};
    border-bottom-style: {{ $.Site.Params.sectionLine | default "dashed" }};

    {{ if $.Site.Params.sectionBackground }}
    background-color: $section-background-color;
    {{ end }}

    {{ if ne $.Site.Params.sectionIcon true }}
    .section-icon { display: none; }
    {{ end }}
  }

  {{ if $.Site.Params.linkIcon }}
  .section-content {
    .markdown, .items {
      a::after {
        display: inline-block;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font: var(--fa-font-solid);
        content: "\f08e";
        color: $theme-color;
        font-size: 0.625em;
        margin: 0 0.375em;
        text-decoration: none;
      }
    }
  }
  {{ end }}
}

// Extend Font Awesome fixed width class for fat icons
// .fa-fw {
//   // width: 1.6em !important;
// }
