@charset "utf-8";

// Define defaults for each variable.
$base-font-family: -apple-system, BlinkMacSystemFont, "Noto Sans", "Montserrat", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$base-font-size:   1rem !default;
$base-font-weight: 300 !default;

$small-font-size:  $base-font-size * 0.875 !default;
$middle-font-size: $base-font-size * 1.000 !default;
$large-font-size:  $base-font-size * 1.200 !default;
$huge-font-size:   $base-font-size * 2.250 !default;

$base-line-height: $base-font-size + 0.35 !default;
$spacing-unit:     $base-font-size + 0.20 !default;

// Width of the content area
$content-width:    62rem !default;

// Default color settings.
// ${var}-dark indicates the theme it is for, not the actual color content
$theme-color:                   {{ $.Site.Params.themeColor | default "oklch(0 0 0)" }};
$theme-color-dark:              oklch(from #{$theme-color} calc(1.1 - l) c h);

// Cross mapped so that resume is always brighter than the background
$resume-body-color:             {{ $.Site.Params.bodyColor | default "oklch(1 0 0)" }};
$background-color-dark:         oklch(from #{$resume-body-color} calc(1 - l) c h);
$background-color:              oklch(from #{$resume-body-color} calc(l - 0.1) c h);
$resume-body-color-dark:        oklch(from #{$background-color} calc(1.05 - l) c h);

// Text colors are based from body colors
$text-color:                    oklch(from #{$resume-body-color} calc(1.05 - l) c h);
$text-color-dark:               oklch(from #{$resume-body-color-dark} calc(1.05 - l) c h);
$separator-color:               oklch(from #{text-color} l c h);
$separator-color-dark:          oklch(from #{$separator-color} calc(1 - l) c h);

$section-background-color:      oklch(from #{$resume-body-color} calc(l - 0.15) c h / 0.5);
// slightly higher dark color looks best
$section-background-color-dark: oklch(from #{$section-background-color} calc(1.05 - l) c h);

$heart-color:                   oklch(from firebrick l c h);

// Toggle-switch
$toggle-moon-color:             oklch(from cornflowerblue l c h); // #60a5fa (blue)
$toggle-sun-color:              oklch(from goldenrod l c h);  // #f59e0b (amber)
$toggle-height:                 2rem;
$toggle-switch-size:             80%;
$toggle-radius:                 0rem;

// Shadow and transparency colors
$shadow:                        oklch(0 0 0 / 0.3);
$shadow-dark:                   oklch(1 0 0 / 0.3);
$border-theme:                  oklch(from #{$theme-color} l c h / 0.4);  // Theme color for borders
$border-separator:              oklch(from #{$separator-color} / 0.4);  // Separator color for borders
$border-separator-dark:         oklch(from #{$separator-color-dark} / 0.4);  // Dark separator for borders

// Transition time
$transition-speed: 0.10s; // The time a component (our toggler) takes to complete its action. 

// Default delimiter
$contact-delimiter: "{{ $.Site.Params.contactDelimiter | default "·" }}";
$body-delimiter:    "{{ $.Site.Params.bodyDelimiter | default "·" }}";
@import
  "sanitize",
  "base",
  "toggle",
  "responsive",
  "print",
  "fonts"
;

section {
  .section-title {
    text-transform:      {{ $.Site.Params.sectionTitle | default "uppercase" }};
    justify-content:     {{ $.Site.Params.sectionAlign | default "start" }};
    border-bottom-style: {{ $.Site.Params.sectionLine | default "dashed" }};

    {{ if $.Site.Params.sectionBackground }}
    background-color: $section-background-color;
    {{ end }}

    {{ if ne $.Site.Params.sectionIcon true }}
    .section-icon { display: none; }
    {{ end }}
  }

  {{ if $.Site.Params.linkIcon }}
  .section-content {
    .markdown, .items {
      a::after {
        display: inline-block;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font: var(--fa-font-solid);
        content: "\f08e";
        color: $theme-color;
        font-size: 0.625em;
        margin: 0 0.375em;
        text-decoration: none;
      }
    }
  }
  {{ end }}
}

// Extend Font Awesome fixed width class for fat icons
.fa-fw {
  width: 1.5em !important;
}
