<html lang='{{ .data.meta.language | default "en" }}'
      dir='{{ .data.meta.direction | default "ltr" }}'
      data-theme="dark">
    <head>
        {{- partial "llm.html" . }}
        {{- partial "head.html" . }}
    </head>
    <body>
        {{- if .Site.Params.open }}
            {{- partial "toggle.html" . }}
            <div class="wrapper">
                {{- partial "basic.html" . }}
                {{- partial "profile.html" . }}
                {{- $ctx := . -}}
                {{- $sectionList := slice -}}
                {{- range $key, $value := .data -}}
                    {{- if reflect.IsMap $value -}}
                        {{- with index $value "show" -}}
                            {{- if . -}}
                                {{- $sectionList = $sectionList | append (dict "name" $key "order" ($value.order | default 999) "details" $value) -}}
                            {{- end -}}
                        {{- end -}}
                    {{- end -}}
                {{- end -}}
                {{- $sortedSections := sort $sectionList "order" "asc" -}}
                {{- range $sortedSections -}}
                    {{- $path := printf "%s.html" .name -}}
                    {{- if templates.Exists (printf "_partials/%s" $path) -}}
                        {{- partial $path $ctx -}}
                    {{- end -}}
                {{- end -}}
            </div>
            {{- if .Site.Params.siteCredit }}
                {{- partial "credit.html" . }}
            {{- end }}
        {{- else }}
            {{- partial "close.html" . }}
        {{- end }}
        {{- partial "scripts.html" . }}
    </body>
</html>
