{{- $education := .data.education }} {{- if $education | and $education.show }}
<section class="education" style="order: {{ $education.order | default 1 }}">
    <div class="section-title">
        <i class="section-icon fa-solid fa-fw  fa-graduation-cap"></i>
        <h2>{{ $education.title }}</h2>
    </div>
    <div class="section-content">
        {{- if $education.description -}}
        <div class="description markdown">{{ $education.description | markdownify | safeHTML }}</div>
        {{- end -}} {{- if $education.items -}}
        <div class="items">
            {{- range $item := $education.items -}}
            <div class="item">
                <div class="row">
                    <div class="l-subrow">
                        <span class="institution subrow">
                            {{- if $item.link -}}
                            <a href="{{- $item.link -}}" target="_blank">{{- $item.institution | safeHTML -}}</a>
                            {{- else -}}
                            <span>{{- $item.institution | safeHTML -}}</span>
                            {{- end -}}
                        </span>
                    </div>

                </div>
                <div class="row">
                    <div class="l-subrow">
                        <span class="major degree subrow">
                            {{ if $item.degree }}
                            {{ $item.degree }}
                            in
                            {{ end }}
                            {{- if $item.major -}}
                            {{ $item.major }}
                            {{- end -}}
                        </span>
                        {{- if $item.gpa -}}
                        <span class="gpa subrow">{{ $item.gpa | markdownify }} GPA</span>
                        {{- end -}}
                    </div>
                                        <span class="r-subrow">
                        {{- if $item.location -}}
                        <span class="subrow">{{- $item.location }}</span>
                        {{- end -}}
                        <span class="date">{{- $item.date -}}</span>
                    </span>
                </div>
                {{- if $item.description -}}
                <div class="row">
                <div class="description markdown">{{- $item.description | markdownify | safeHTML -}}</div>
                </div>
                {{- end -}}
            </div>
            {{- end -}}
        </div>
        {{- end -}}
    </div>
</section>
{{- end -}}
