{{- $publication := .data.publication }}
{{- if $publication | and $publication.show }}
<section class="publication"
         style="order: {{ $publication.order | default 1 }}">
    <div class="section-title">
        <i class="section-icon fa-solid fa-fw  fa-book-bookmark"></i>
        <h2>{{ $publication.title }}</h2>
    </div>
    <div class="section-content">
        {{- if $publication.description }}
        <div class="description markdown">{{ $publication.description | markdownify | safeHTML }}</div>
        {{- end }}
        {{- if $publication.items }}
        <div class="items">
            {{- range $item := $publication.items }}
            <div class="item">
                <div class="row">
                    <div class="row">
                        {{- if $item.title -}}
                        <div class="publication-title subrow">
                            {{- if $item.link -}}
                            <a href="{{ $item.link }}" target="_blank">{{ $item.title | markdownify | safeHTML }}</a>
                            {{- else -}}
                            <span>{{ $item.title | markdownify | safeHTML }}</span>
                            {{- end -}}
                        </div>
                        {{- end -}}
                    </div>
                    <div class="row">
                        {{- if $item.conference -}}
                        <div class="conference subrow">{{- $item.conference -}}</div>
                        {{- end -}}
                        {{- if $item.date -}}
                        <div class="date">{{- $item.date -}}</div>
                        {{- end -}}
                    </div>
                </div>
                <div>
                    {{- if and $item.authors $item.doi }}
                    <span class="authors subrow">{{ $item.authors | markdownify | safeHTML }}</span><span class="doi"><!--
--><a href="https://doi.org/{{ $item.doi }}" target="_blank">https://doi.org/{{ $item.doi }}</a>
                </span>
                {{- else if $item.authors }}
                <span class="authors">{{ $item.authors | markdownify | safeHTML }}</span><span class="doi">
                    {{- else if $item.doi }}
                    <span class="doi">
                        <a href="https://doi.org/{{ $item.doi }}" target="_blank">https://doi.org/{{ $item.doi }}</a>
                    </span>
                    {{- end }}
                </div>
                {{- if $item.description }}
                <div class="row">
                    <span class="subrow">{{ $item.description | markdownify | safeHTML }}</span>
                </div>
                {{- end }}
            </div>
            {{- end }}
        </div>
        {{- end }}
    </div>
</section>
{{- end }}
