<div class="dark-mode-toggle-wrapper">
<div class="js-toggle-wrapper">
    <div class="js-toggle js-toggle–checked" id="dark-mode-toggle">
        <div class="js-toggle-track">
            <div class="js-toggle-track-check">
                <i class="fa-solid fa-fw  fa-moon"></i>
            </div>
            <div class="js-toggle-track-x">
                <i class="fa-solid fa-fw  fa-sun"></i>
            </div>
        </div>
        <div class="js-toggle-thumb js-toggle–checked"></div>
        <input class="js-toggle-screenreader-only"
               type="checkbox"
               aria-label="Switch between Dark and Light mode">
    </div>
</div>
</div>
